name: Aos RPI release
permissions:
  contents: write
on:
  workflow_dispatch:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
      - "v[0-9]+.[0-9]+.[0-9]+-*"

jobs:
  release:
    runs-on: github-arc-x64-dind
    env:
      LANG: "en_US.UTF-8"
      LANGUAGE: "en_US:en"
      LC_ALL: "en_US.UTF-8"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: aosedge/meta-aos-rpi
          fetch-depth: 0

      - name: Set release version
        id: version
        run: |
          tag=$(basename "${{ github.ref }}")
          version=${tag#"v"}
          release_date="$(date -I)"

          echo "Release tag: $tag"
          echo "Release version: $version"
          echo "Release date: $release_date"

          echo "tag=$tag" >> $GITHUB_OUTPUT
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "release_date=$release_date" >> $GITHUB_OUTPUT

      - name: Prepare environment
        run: |
          (type -p wget >/dev/null || (sudo apt update && sudo apt-get install wget -y))
          sudo mkdir -p -m 755 /etc/apt/keyrings
          out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg
          cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null
          sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] \
          https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null

          sudo apt update
          sudo apt install gh gzip locales -y
          sudo locale-gen en_US.UTF-8

      - name: Build artifacts
        id: build
        run: |
          echo "Update yaml file image versions"

          tag="${{ steps.version.outputs.tag }}"
          version="${{ steps.version.outputs.version }}"
          prev_tag=$(git describe --tags --abbrev=0 "${tag}"^ || true)
          prev_version=${prev_tag#"v"}

          echo "Current version:  $version"
          echo "Previous version: $prev_version"

          mkdir build
          cp aos-rpi.yaml build/

          sed -i "s/BUNDLE_IMAGE_VERSION: \"[^\"]*\"/BUNDLE_IMAGE_VERSION: \"$version\"/" build/aos-rpi.yaml
          sed -i "s/ROOTFS_REF_VERSION: \"[^\"]*\"/ROOTFS_REF_VERSION: \"$prev_version\"/" build/aos-rpi.yaml

          echo "Build docker"

          docker/build_docker.sh -f docker/Dockerfile

          echo "Build images"

          for root_type in "usb" "nvme"; do
            for node_type in "single" "main" "secondary"; do
              target_name="install-${node_type}-${root_type}.img"

              echo "Building image $target_name"
              docker/run_docker.sh -n -w build -- moulin aos-rpi.yaml --DOMD_ROOT="$root_type" \
                                                                      --DOMD_NODE_TYPE="$node_type" \
                                                                      --CACHE_LOCATION=inside

              docker/run_docker.sh -n -w build -- ninja "$target_name"

              EXTRACT_SIZE=$(stat -c %s "build/$target_name")
              EXTRACT_SHA256=$(sha256sum "build/$target_name" | awk '{print $1}')

              gzip "build/$target_name"

              DOWNLOAD_SIZE=$(stat -c %s "build/$target_name.gz")
              DOWNLOAD_SHA256=$(sha256sum "build/$target_name.gz" | awk '{print $1}')

              echo "extract_size_${node_type}_${root_type}=$EXTRACT_SIZE" >> $GITHUB_OUTPUT
              echo "extract_sha256_${node_type}_${root_type}=$EXTRACT_SHA256" >> $GITHUB_OUTPUT
              echo "image_download_size_${node_type}_${root_type}=$DOWNLOAD_SIZE" >> $GITHUB_OUTPUT
              echo "image_download_sha256_${node_type}_${root_type}=$DOWNLOAD_SHA256" >> $GITHUB_OUTPUT

              echo "Build FOTA"

              docker/run_docker.sh -n -w build -- ninja fota-full

            done
          done

          echo "Build layers"

          docker/run_docker.sh -n -w build -- ninja layers

          echo "Build SDK"
          docker/run_docker.sh -n -w build -- ninja aos-sdk

      - name: Generate OS list
        id: render_template
        uses: chuhlomin/render-template@v1
        with:
          template: misc/os_sublist.json.template
          vars: |
            version: "${{ steps.version.outputs.version }}"
            release_date: "${{ steps.version.outputs.release_date }}"

            url_single_usb: "https://github.com/aosedge/meta-aos-rpi/releases/download/${{ steps.version.outputs.tag }}/install-single-usb.img.gz"
            extract_size_single_usb: ${{ steps.build.outputs.extract_size_single_usb }}
            extract_sha256_single_usb: ${{ steps.build.outputs.extract_sha256_single_usb }}
            image_download_size_single_usb: ${{ steps.build.outputs.image_download_size_single_usb }}
            image_download_sha256_single_usb: ${{ steps.build.outputs.image_download_sha256_single_usb }}

            url_main_usb: "https://github.com/aosedge/meta-aos-rpi/releases/download/${{ steps.version.outputs.tag }}/install-main-usb.img.gz"
            extract_size_main_usb: ${{ steps.build.outputs.extract_size_main_usb }}
            extract_sha256_main_usb: ${{ steps.build.outputs.extract_sha256_main_usb }}
            image_download_size_main_usb: ${{ steps.build.outputs.image_download_size_main_usb }}
            image_download_sha256_main_usb: ${{ steps.build.outputs.image_download_sha256_main_usb }}

            url_secondary_usb: "https://github.com/aosedge/meta-aos-rpi/releases/download/${{ steps.version.outputs.tag }}/install-secondary-usb.img.gz"
            extract_size_secondary_usb: ${{ steps.build.outputs.extract_size_secondary_usb }}
            extract_sha256_secondary_usb: ${{ steps.build.outputs.extract_sha256_secondary_usb }}
            image_download_size_secondary_usb: ${{ steps.build.outputs.image_download_size_secondary_usb }}
            image_download_sha256_secondary_usb: ${{ steps.build.outputs.image_download_sha256_secondary_usb }}

            url_single_nvme: "https://github.com/aosedge/meta-aos-rpi/releases/download/${{ steps.version.outputs.tag }}/install-single-nvme.img.gz"
            extract_size_single_nvme: ${{ steps.build.outputs.extract_size_single_nvme }}
            extract_sha256_single_nvme: ${{ steps.build.outputs.extract_sha256_single_nvme }}
            image_download_size_single_nvme: ${{ steps.build.outputs.image_download_size_single_nvme }}
            image_download_sha256_single_nvme: ${{ steps.build.outputs.image_download_sha256_single_nvme }}

            url_main_nvme: "https://github.com/aosedge/meta-aos-rpi/releases/download/${{ steps.version.outputs.tag }}/install-main-nvme.img.gz"
            extract_size_main_nvme: ${{ steps.build.outputs.extract_size_main_nvme }}
            extract_sha256_main_nvme: ${{ steps.build.outputs.extract_sha256_main_nvme }}
            image_download_size_main_nvme: ${{ steps.build.outputs.image_download_size_main_nvme }}
            image_download_sha256_main_nvme: ${{ steps.build.outputs.image_download_sha256_main_nvme }}

            url_secondary_nvme: "https://github.com/aosedge/meta-aos-rpi/releases/download/${{ steps.version.outputs.tag }}/install-secondary-nvme.img.gz"
            extract_size_secondary_nvme: ${{ steps.build.outputs.extract_size_secondary_nvme }}
            extract_sha256_secondary_nvme: ${{ steps.build.outputs.extract_sha256_secondary_nvme }}
            image_download_size_secondary_nvme: ${{ steps.build.outputs.image_download_size_secondary_nvme }}
            image_download_sha256_secondary_nvme: ${{ steps.build.outputs.image_download_sha256_secondary_nvme }}

          result_path: build/os_sublist.json

      - name: Publish Release
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}

        run: |
          tag="${{ steps.version.outputs.tag }}"
          version="${{ steps.version.outputs.version }}"

          gh release create --draft "$tag" --title "Version $version"

          for root_type in "usb" "nvme"; do
            for node_type in "single" "main" "secondary"; do
              artifact_name="install-${node_type}-${root_type}.img.gz"

              echo "Uploading $artifact_name"
              gh release upload "$tag" "build/$artifact_name"
            done
          done

          gh release upload "$tag" build/os_sublist.json


          for file in build/output/layers/*; do
            gh release upload "$tag" "$file"
          done

          for file in build/output/fota/*; do
            gh release upload "$tag" "$file"
          done

          for file in build/output/sdk/*.sh; do
            gh release upload "$tag" "$file"
          done

          gh release upload "$tag" misc/unitconfig.json

          if [[ ! "$version" =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            gh release edit "$tag" --prerelease
          fi

          gh release edit "$tag" --draft=false
